$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';
$background-color: #1e4e3e;
$font-color: #dfdfdf;
$white: #fff;

body {
  background-color: $background-color;
  color: $font-color;
}

.box {
  border: thin solid $white;
  height: 200px;
}

h1 {
  color: $white;
  font-size: 60px;
  text-align: center;
}

h2 {
  color: $white;
  font-size: 36px;
  text-align: center;
}

form {
  align: center;
  color: $white;
  font-size: 12px;
  padding: 0px 100px 0px 40px;
}

#theWinnerIs {
  font-size: 50px;
}

input {
  color: #000000;
}
