$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';
$font-color: charcoal;
$white: #fff;

body {
background-image: url(back.jpg);
  color: $font-color;
}

.box {
  border: thin solid $white;
  height: 200px;
}

h1 {
  color: $white;
  font-size: 55px;
  text-align: center;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: pink;
}

h2 {
  color: $white;
  font-size: 30px;
  text-align: center;
}

#bodydiv{
text-align: center;
}

#theWinnerIs {
  font-size: 40px;
}

input {
  color: #000001;
}

#needsSignIn {
  display: none;
}
